[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
django-crispy-forms = "==1.14.0"
django-allauth = "==0.50.0"
pip = "*"
install = "*"
pillow = "==9.1.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
