<!-- templates/signup.html -->
{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

<br />
<br />
<br />
<br />

<div class="card border-info">
    <div class="card-header">
        Cadastro
    </div>
    <div class="card-body">
        <p class="card-text">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Cadastrar</button>
        </form>
    </div>
</div>

{% endblock content %}
