<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% block title %}Alteração Senha{% endblock title %}
{% block content %}

<br />
<br />
<br />
<br />

<div class="card border-info">
  <div class="card-header text-center">
    <h1>Alteração de senha</h1>
    <p>Por favor, digite sua senha antiga por segurança, e então digite sua
        nova senha duas vezes para que possamos verificar que digitou corretamente.</p>
  </div>
    <div class="card-body">
        <p class="card-text">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
  </div>
</div>

{% endblock content %}
