<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% block title %}Esqueceu sua senha?{% endblock title %}
{% block content %}

<br />
<br />
<br />
<br />
<div class="card border-info">
  <div class="card-header">
    <h1>Esqueceu sua senha?</h1>
    <p>Insira seu endereço de e-mail abaixo e enviaremos instruções para configuração de uma nova senha.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Send me instructions!">
    </form>
  </div>
</div>

{% endblock content %}
